/* #3A2D80  #6957E7 #A763F6 #FFFFFF*/

.header {
    position: relative;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    background: linear-gradient(90deg, #3A2D80, #6957E7);
}

.header div h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color: #FFF;
}

.header div p {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 1.3rem;
}